* {
    margin: 0;
    padding: 0;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

.josefin-sans-uniquifier {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

/*  */
.gear {
    width: 60px;
}

.g {
    color: rgb(245, 0, 79);
    font-size: 44px;
    font-weight: 700;
    font-family: "Spicy Rice", serif;
}

.autogear {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px;
    font-size: 36px;
    font-weight: 700;
}

.recommoend-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
    padding: 12px;
    border-radius: 24px;
    border: none;
    background-color: rgb(225, 234, 205);
    font-size: 20px;
    font-weight: 700;
}

.recommoend-img {
    width: 18px;
}

.customi-btn {
    gap: 10px;
    /* margin: 10px; */
    padding: 12px 60px;
    border-radius: 24px;
    border: none;
    background-color: rgb(245, 0, 79);
    color: rgb(245, 239, 255);
    font-size: 20px;
    font-weight: 700;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    margin: 30px;
    font-weight: 700;
}

.demos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner */
.banner-guerlain {
    margin: 30px 120px 320px 120px;
}

.guerlain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.guerlain-h1 {
    font-size: 56px;
    padding: 30px;
    margin: 30px;
}

.guerlain-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guerlain-input {
    width: 700px;
    margin: 10px -120px;
    padding: 28px;
    border-radius: 40px;
    border: none;
    text-align: start;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(225, 234, 205);
}

.guerlain-btn {
    /* gap: 10px; */
    margin: 0 -120px;
    padding: 16px 60px;
    border-radius: 24px;
    border: none;
    background-color: rgb(245, 0, 79);
    color: rgb(245, 239, 255);
    font-size: 20px;
    font-weight: 700;
}

/* Our mission */
.Our-mission-is-to-create-community {
    margin: 0 30px 60px 30px;
    border-radius: 36px;
    background: linear-gradient(rgb(175, 23, 63), rgba(204, 43, 83, 0.655), rgba(175, 23, 63, 0.35));
}

.Our-mission1 {
    /* height: 660px; */
    background-image: url('../img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
    margin: -200px 30px 200px 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 280px;
    flex-direction: column;
}

.Our-mission1-h {
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(236, 232, 82);
    border-radius: 24px;
    padding: 20px;

}

/* 2 */

.Our-mission2 {
    background-image: url('../img/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
    margin: -140px 30px 140px 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 280px;
    flex-direction: column;
}

.Our-mission2-h {
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(255, 191, 191);
    border-radius: 24px;
    padding: 20px;

}

/* 3 */
.Our-mission3 {
    background-image: url('../img/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -200px 30px 200px 30px;
    border-radius: 32px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 280px;
    flex-direction: column;
}

.Our-mission3-h {
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(185, 243, 228);
    border-radius: 24px;
    padding: 20px;

}

/* 4 */
.Our-mission4 {
    background-image: url('../img/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -140px 30px 140px 30px;
    border-radius: 32px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 280px;
    flex-direction: column;
}

.Our-mission4-h {
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(0, 255, 171);
    border-radius: 24px;
    padding: 20px;

}

/* 5 */
.Our-mission5 {
    background-image: url('../img/5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -200px 30px 200px 30px;
    border-radius: 32px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 280px;
    flex-direction: column;
}

.Our-mission5-h {
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(208, 242, 136);
    border-radius: 24px;
    padding: 20px;
}

.Our-mission-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(255, 69, 69);
    color: rgb(254, 249, 242);
}

.create {
    display: flex;
}

.community-h {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 100px;
    text-align: center;
    margin: 10px;
}

/* What-new */

.What-new {
    margin: 60px 200px;
}

.new {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new h3 {
    font-size: 56px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

/* extraordinary */
.extraordinary {}

.img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 12px;
}

.all-car-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 20px solid fuchsia; */
    margin-top: 30px;
    gap: 20px;
}

.factory {
    /* border: 2px solid fuchsia; */
    box-shadow: 12px 12px 12px gray;
    padding: 20px;
    margin: 4px;
    border-radius: 12px;
}

.factory2 {
    /* border: 2px solid fuchsia; */
    box-shadow: 12px 12px 12px gray;
    padding: 27px;
    margin: 4px;
    border-radius: 12px;
}


.factory-p2 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
    line-height: 20px;
}

.factory-h {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
    line-height: 20px;
}

.factory-p2 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0;
    line-height: 20px;
}

.factory3 {
    /* height: 500px; */
    /* width: 700px; */
    background-color: rgb(255, 69, 69);
    /* border: 2px solid fuchsia; */
    box-shadow: 12px 12px 12px gray;
    padding: 27px;
    margin: 4px;
    border-radius: 12px;
}

.spotlight {
    width: 400px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.spotlight h3{
    font-size: 24px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
    line-height: 20px;
    color: aliceblue;
}
.creative{
    padding: 8px;
    border-radius: 24px;
    border: none;
    background-color: rgb(225, 234, 205);
    font-size: 20px;
    font-weight: 700;
}

.their {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(239, 243, 234);
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
}

.known {
    width: 100px;
    border-radius: 12px;
}